html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #efefef;
	-webkit-app-region: drag; /* Frameless window */
	-webkit-user-drag: none;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}

input:focus{
	outline: none;
}

/* Before bootstrap */

.loading-box {
	position: absolute;
	top: 40%;
	left: 41%;
}

.loading-box span {
	font-family: Arial;
	font-size: 2em;
	color: #676565;
}

.loading-box .spinner {
	width: 100px;
	height: 100px;
	position: relative;
	top: 0;
	left: 18%;
}

.loading-box .spinner .double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.loading-box .spinner .double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {

		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}
/* Main div of whole app */

.app-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Giphy loader wrapper */

.giphy-loader:hover .control-panel {
	display: inline-block;
}

/* Control panel */

.control-panel {
	position: absolute;
	display: none;
	bottom: 15px;
	width: 160px;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid #bfbfbf;
	border-radius: 20px;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.5);
}

.control-panel input {
	color: #3c3c3c;
	margin-right: 2px;
	width: 90px;
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #bfbfbf;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.7);
}

.control-panel .button {
	color: #3c3c3c;
	width: 40px;
	height: 40px;
	border: 2px solid #bfbfbf;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.7);
}

.control-panel .button.active {
	background-color: white;
}

.control-panel .button:hover {
	background-color: white;
	border-color: #8c8c8c;
}


